.estructuraItemDetail{
    display: flex;
    margin-top: 15px;
    background-color: rgb(239,227,193);
    border-radius: 4px;
    padding: 20px;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
}
.imgItemDetailCont{
    margin-left: 0;

}
.imgItemDetail{
    max-width: 250px;
}
.tituloItemDetail{
    font-size: 30px;
    text-transform: uppercase;
}
.categoriaItemDetail{
    font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.infoItemDetail{
    margin-left: 50px;
    padding: 20px;
    align-items: center;
  
}
.infoDescItemDetail{
    background-color: rgba(247, 241, 234, 0.73);
    padding: 10px;
    border-radius: 6px;
    margin-top: 10px;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.099);
}
.precioItemDetail{
    color: rgb(254,80,45);                                                                                                       
}
.botoncito{
    display: block;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    border-style: none;
    background-color: rgba(255, 255, 255, 0.538);
    cursor: pointer;
    transition: transform 1000ms;
    padding: 1em 2em;
    box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: inline-block;
    text-decoration: none !important;
    color: rgb(242,158,32);

}

.botoncito:hover{
    transform: translateY(-0.55rem);
    transition: transform 500ms;
    background-color: rgb(242,158,32);
    color: #ffffff;

}