.container {

  flex-wrap: wrap;
  margin-top: 20px;
}



.card {
  display: inline-block;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0.25rem;
  margin-left: 10px;
  height: 200px;
  flex: 1;
  transition: .3s all ease;
}

.card:hover{
  flex: 2;
  background-color: aqua;
}

.product-image {
  max-width: 100%;
  height: auto;
  max-height: 200px;
  object-fit: cover;
}

.product-title {
  margin-top: 10px;
  font-size: 16px;
}

.product-price {
  margin-top: 5px;
  font-weight: bold;
}

.product-actions {
  margin-top: 10px;
}
.product-actions button {
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
  border-style: none;
  background-color: rgba(255, 255, 255, 0.538);
  cursor: pointer;
  transition: transform 1000ms;
  padding: 1em 2em;
  box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  display: inline-block;
  text-decoration: none !important;
  color: rgb(118, 71, 46);
}
.product-actions button:hover {
  transform: translateY(-0.55rem);
  transition: transform 500ms;
  background-color: rgb(221, 173, 135);
  color: rgb(118, 71, 46);
}
