/* Cart.css */

/* Estilos para el contenedor principal del carrito */
.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  /* Estilos para cada producto individual en el carrito */
  .itemCart {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el total del carrito */
  .totalPrice {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
  }
  
  /* Estilos para el botón "Finalizar Compra" */
  .btn-total {
    margin-top: 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: background-color 0.3s;
  }
  
  .btn-total:hover {
    background-color: #2980b9;
  }
  

  /* Estilos para el texto cuando no hay elementos en el carrito */
.cart-container p {
  font-size: 1.7rem;
  color: #555; 
  margin-bottom: 10px;
}

/* Estilos para el enlace "Hacer compras" */
.cart-container a {
  font-size: 2rem;
  color: #3498db; 
  text-decoration: none; 
  transition: color 0.3s; 
}

.cart-container a:hover {
  color: #d2dd40;
}