.operacion{
        display: block;
        margin: 15px;
        justify-content: center;
        align-items: center;
        border-color: rgb(242,158,32);
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0.538);
        cursor: pointer;
        transition: transform 1000ms;
        padding: 10px ;
        box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.2);
        border-radius: 8px;
        display: inline-block;
        text-decoration: none !important;
        color: rgb(242,158,32);
    
    }
    
    .operacion:hover{
        transition: transform 500ms;
        background-color: rgb(242,158,32);
        color: #ffffff;
        border-color: rgb(242,158,32);
    }
.numerillo{
    font-weight: 600;
    font-size: 1.2rem;
  
}