.item-list-container {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin: 20px 0;
}

.item-list-container h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.item-list-container ul {
    list-style: none;
    padding: 0;
}

.item-list-container li {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.item-list-container li:last-child {
    border-bottom: none;
}

.item-list-container p {
    margin: 5px 0;
}


.item-list-container li:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}