/* Congeladas.css */

.congeladas {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 20px auto;
  }
  
  .card {
    width: 18rem;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card img {
    height: 200px; /* Ajusta la altura de la imagen según tu preferencia */
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: #666;
    line-height: 1.4;
  }
  
  .btn-primary {
    display: inline-block;
    padding: 8px 16px;
    margin-top: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  